.planetary-menu {
    position: relative;
    // z-index: 5 !important;
    // z-index: 9 !important;
    display: flex;
    justify-content: center;
    margin-left: 14vh;

    &::after {
        // content: '';
        // position: absolute;
        // background-image: url(/icons/circular_shadow.svg);
        // background-repeat: no-repeat;
        // background-size: 100%;
        // width: 100vh;
        // height: 100vh;
        // // left: 14%;
        // // top: -20%;
        // left: 0%;
        // top: -20%;
        // // z-index: 0;
        // // z-index: 6;
        // pointer-events: none;

        // user-select: none;
        // border: 1px solid salmon;
    }

    .art-planet,
    .music-planet,
    .research-planet,
    .logo {
        width: 19vh;
        height: 19vh;
        position: relative;
        background-color: white;
        cursor: pointer;
        color: black;
        box-shadow: var(--planet-shadow);
        border-radius: 100%;
        z-index: 9;

        span {
            font-size: 3vh;
            white-space: nowrap;
            position: absolute;
            font-weight: 600;
        }

        &::after {
            position: relative;
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 10vh;
            width: 28vh;
            display: block;
        }
    }

    .research-planet {
        top: 22%;
        // left: 56%;

        span {
            top: 45%;
            left: 18%;
        }

        &::after {
            background-image: url(./images/research_decor.svg);
            // border: 1px solid rebeccapurple;
            left: 28%;
            top: 40%;
        }
    }

    .art-planet {
        top: 37%;
        // left: -8.5%;
        left: -4.5%;
        position: relative;
        // z-index: 5;
        // z-index: 9;
        cursor: pointer;

        span {
            top: 45%;
            left: 18%;
        }

        &::after {
            background-image: url(./images/art_decor.svg);
            left: -24%;
        }
    }

    .logo {
        // flex: 0.5;
        box-shadow: var(--planet-shadow);
        // position: absolute;
        height: 29vh;
        width: 29vh;
        top: 40%;
        cursor: auto;
        position: relative;
        // z-index: 9;
        // left: 42.5%;

        font-weight: 600;

        span {
            position: absolute;
            top: 42%;
            left: 15%;
            font-size: 5vh;
        }
    }

    .music-planet {
        top: 73%;
        left: -30vh;
        // z-index: 2;
        z-index: 9;

        span {
            top: 44%;
            left: 21%;
        }

        &::after {
            background-image: url(./images/music_decor.svg);
            top: 40%;
            left: -25%;
        }
    }
}
