.page {
    .main-wrapper {
        font-family: 'Comfortaa', cursive;
        // font-family: 'Monoton', cursive;

        .background-planet {
            background-image: url(~/icons/research_planet.svg);
            background-repeat: no-repeat;
            // border: 1px solid rebeccapurple;
            height: 40vw;
            width: 38vw;
            background-size: contain;
            background-position: center;
            left: 19vw;
            top: -14vw;
            position: absolute;
        }

        .planetary-menu {
            // border: 2px solid rgb(208, 255, 0);
            height: 100vh;
            display: flex;
            flex-direction: row;

            .logo {
                flex: 0.5;
                box-shadow: var(--planet-shadow);
                position: absolute;
                height: 15vw;
                width: 15vw;
                border-radius: 100%;
                top: 40%;
                left: 42.5%;
                background-color: white;
                font-weight: 600;

                span {
                    position: absolute;
                    top: 42%;
                    left: 15%;
                    font-size: 3vw;
                }
            }

            // .visual-art,
            // .research-and-music {
            //     .art-planet
            // }

            .visual-art {
                // border: 3px solid rgb(255, 60, 0);
                display: flex;
                flex-direction: column;

                flex: 0.8;

                .art-planet {
                    box-shadow: var(--planet-shadow);
                    position: relative;
                    height: 11vw;
                    width: 11vw;
                    border-radius: 100%;
                    top: 33%;
                    left: 62%;
                    background-color: white;
                    cursor: pointer;
                    z-index: 3;

                    span {
                        position: absolute;
                        top: 45%;
                        left: 18%;
                        font-size: 2vw;
                        white-space: nowrap;
                    }
                }

                .art-background {
                    flex: 1;
                    // border: 1px solid rgb(0, 26, 255);
                    background-image: url(./images/art.svg);
                    background-repeat: no-repeat;
                    background-size: 90%;
                    background-position: 0% 100%;
                }
            }
            .research-and-music {
                display: flex;
                flex: 1;
                flex-direction: column;
                // border: 3px solid rgb(255, 60, 0);

                .research {
                    flex: 1;
                    border: 1px solid orange;

                    .research-planet {
                        box-shadow: var(--planet-shadow);
                        position: relative;
                        height: 11vw;
                        width: 11vw;
                        border-radius: 100%;
                        top: 45%;
                        left: 22%;
                        background-color: white;
                        cursor: pointer;
                        z-index: 3;

                        span {
                            position: absolute;
                            top: 45%;
                            left: 18%;
                            font-size: 2vw;
                            white-space: nowrap;
                        }
                    }
                }
                .music {
                    flex: 1;
                    border: 1px solid orange;
                    background-image: url(./images/notes.png);
                    background-size: 109%;
                    background-position: 226% -278%;
                    background-repeat: no-repeat;

                    .music-planet {
                        box-shadow: var(--planet-shadow);
                        position: relative;
                        height: 11vw;
                        width: 11vw;
                        border-radius: 100%;
                        top: 40%;
                        left: 7%;
                        background-color: white;
                        cursor: pointer;
                        z-index: 3;

                        span {
                            position: absolute;
                            top: 44%;
                            left: 21%;
                            font-size: 2vw;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}
