.page {
    position: relative;

    .main-wrapper {
        font-family: 'Comfortaa', cursive;
        position: relative;
        // z-index: 5;
        // font-family: 'Monoton', cursive;

        .background-planet {
            background-image: url(~/icons/research_planet.png);
            background-repeat: no-repeat;

            height: 40vw;
            width: 38vw;
            background-size: contain;
            background-position: center;
            left: 22vw;
            // top: -14vw;
            top: -26vw;
            position: absolute;
            z-index: 2;
        }

        .planetary-menu {
            // border: 2px solid rgb(208, 255, 0);
            height: 100vh;
            display: flex;
            flex-direction: row;
            position: relative;
            z-index: 5 !important;

            .research-and-music {
                display: flex;
                flex: 1;
                flex-direction: column;
            }
        }
    }
}
