.page {
    .main-wrapper {
        .research-planet {
            background-image: url(/icons/research_planet.svg);
            background-repeat: no-repeat;

            height: 13vw;
            width: 13vw;
        }
    }
}
