.menu-wrapper {
    // border: 1px solid rgb(217, 255, 0);
    width: 38vw;
    height: 37vw;
    position: fixed;
    top: 0;
    left: -1.3vw;
    background-image: url(./images/menu.svg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    ul {
        display: flex;
        flex-direction: column;
        // border: 2px solid rgb(0, 255, 191);
        padding: 2vw 3vw;
        font-size: 1.2vw;
        position: relative;

        > a {
            margin-bottom: 1vw;
            color: black;
            // text-shadow: blueviolet 5px 5px;

            &.active {
                text-shadow: rgb(255, 218, 6) 0.1vw 0.1vw;

                &:hover {
                    text-shadow: rgb(255, 64, 6) 0.2vw 0.2vw;

                    &::after {
                        color: aquamarine;
                        position: relative;
                        // content: attr(data-descr);
                        content: '(' attr(data-descr) ')';
                        font-size: 1vw;
                        position: absolute;
                        left: 20px;
                        top: 4px;
                        text-shadow: rgb(6, 255, 193) 0.6vw 0.6vw;
                    }
                }

                &::after {
                    color: rgb(161, 127, 255);
                    position: relative;
                    // content: attr(data-descr);
                    content: attr(data-descr);
                    font-size: 3vw;
                    position: absolute;
                    left: 10px;
                    top: 4px;
                    text-shadow: rgb(6, 255, 193) 0.3vw 0.3vw;
                }
            }
        }

        & > [data-descr]::before {
            color: aquamarine;
            position: relative;
            content: attr(data-descr);
            font-size: 1vw;
            position: absolute;
            left: 14px;
            top: 4px;
            text-shadow: rgb(31, 6, 255) 0.5vw 0.5vw;
            content: ' (' attr(data-descr) ')';
        }
    }

    h1 {
        color: red;
        font-size: 4vw;
    }
}
