.contacts-wrapper {
    height: 100vh;
    padding: var(--page-padding);
    padding-top: 0vw;
    overflow: hidden;
    position: relative;
    min-width: 635px;

    .media-contacts {
        display: flex;
        width: 110vh;
        height: 100vh;
        margin: 4vw auto;
        background-image: url(./images/contacts.svg);
        background-size: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 12;
        // border: 1px solid magenta;

        a {
            display: block;
            height: 20vh;
            width: 20vh;
            border-radius: 100%;
            cursor: pointer;
            position: absolute;
            // box-shadow: rgb(255, 255, 255) -0em -1em 2em 0.1em;
        }

        .github {
            left: 12.5%;
            top: 19.2%;
            // border: 1px solid rgb(255, 0, 0);
            // background-color: rgba(166, 249, 255, 0.336);
            // background: linear-gradient(#daf4ff, #f9f0fd);
            // background: linear-gradient(#def8ef, #c1c0ca);
        }

        .mail {
            left: 31.5%;
            top: 60%;
            // background-color: rgba(121, 141, 255, 0.336);
            // background: linear-gradient(#def8ef, #c1c0ca);
            // transform: rotate(194deg);
            // border: 1px solid rgb(136, 255, 0);
        }

        .twitter {
            left: 52%;
            top: 28%;
            // background-color: rgba(255, 121, 255, 0.336);
            // background: linear-gradient(#c8ffff, #c1c0ca);
            // border: 1px solid rgb(0, 26, 255);
        }

        .facebook {
            height: 10.2vh;
            width: 10.2vh;
            // border: 1px solid rgb(255, 0, 191);
            left: 82.8%;
            top: 20.8%;
            // background-color: rgba(255, 75, 150, 0.336);
            // background: linear-gradient(#def8ef, #c1c0ca);
        }
    }

    .linkedin {
        display: block;
        background-image: url(./images/linkedin.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: 0;
        left: 16%;
        height: 24vh;
        width: 24vh;
        z-index: 12;
        cursor: pointer;
    }

    .background-ball {
        // height: 100vh;
        height: 70vw;
        // width: 100vh;
        width: 70vw;
        // filter: blur(20vw);
        filter: blur(3.5vw);
        background: linear-gradient(#00ffc2 1%, #060028 30%);
        transform: rotate(333deg);
        opacity: 0.25;
        border-radius: 100%;
        position: absolute;
        bottom: -44%;
        left: 15%;
        pointer-events: none;
    }
}
