.contacts-wrapper {
    height: 100vh;
    padding: var(--page-padding);
    padding-top: 0vw;
    // background-color: pink;
    overflow: hidden;
    position: relative;
    // background-color: rgb(255, 203, 203);

    .planet {
    }

    .contacts {
        top: 0;
        position: relative;
        height: 20vw;
        display: flex;
        justify-content: flex-end;

        dl {
            margin-top: 5vh;
            dt {
                font-size: 1.7vh;
                display: flex;
                flex-direction: row;
                color: #0c8476;
                margin-bottom: 1em;

                dd {
                    font-size: inherit;
                    color: #50568c;
                    margin-left: 0.5em;
                }
            }
        }
    }

    .media-contacts {
        display: flex;
        // width: 70vw;
        width: 110vh;
        height: 100vh;
        // border: 1px solid rgb(255, 201, 201);
        // margin: -13vw auto;
        margin: -17vw auto;
        background-image: url(./images/contacts.svg);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 12;

        a {
            display: block;
            height: 20vh;
            width: 20vh;
            border-radius: 100%;
            background-color: rgba(231, 214, 214, 0.336);
            cursor: pointer;
            position: absolute;
            box-shadow: rgb(255, 255, 255) -0em -1em 2em 0.1em;
        }

        .twitter {
            left: 13.2%;
            top: 19.2%;
            background-color: rgba(166, 249, 255, 0.336);
            background: linear-gradient(#daf4ff, #f9f0fd);
            // background: linear-gradient(#def8ef, #c1c0ca);
        }

        .mail {
            left: 33%;
            top: 61%;
            background-color: rgba(121, 141, 255, 0.336);
            background: linear-gradient(#def8ef, #c1c0ca);
            transform: rotate(194deg);
        }

        .facebook {
            left: 54%;
            top: 28%;
            background-color: rgba(255, 121, 255, 0.336);
            background: linear-gradient(#c8ffff, #c1c0ca);
        }

        .github {
            height: 10.2vh;
            width: 10.2vh;

            left: 85.65%;
            top: 21%;
            background-color: rgba(255, 75, 150, 0.336);
            background: linear-gradient(#def8ef, #c1c0ca);
        }
    }

    .linkedin {
        display: block;
        background-image: url(./images/linkedin.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: 0;
        left: 16%;
        height: 24vh;
        width: 24vh;
        z-index: 12;
        cursor: pointer;
    }

    .background-ball {
        // height: 100vh;
        height: 70vw;
        // width: 100vh;
        width: 70vw;
        // filter: blur(20vw);
        filter: blur(3.5vw);
        background: linear-gradient(#00ffc2 1%, #060028 30%);
        transform: rotate(333deg);
        opacity: 0.25;
        border-radius: 100%;
        position: absolute;
        bottom: -44%;
        left: 15%;
        pointer-events: none;
    }
}
