.page-research {
    padding: 25vw 10vw 10vw 10vw;
    // border: 1px springgreen solid;

    .menu-plug {
        width: 56vh;
        height: 53vh;
        position: fixed;
        z-index: 4;
        top: 0vh;
        left: -1.9vh;
        background-image: url(~icons/menu.svg);
        background-position: left;
        background-size: 110%;
        background-repeat: no-repeat;
        display: flex;
    }

    .AI-people,
    .AI-people2 {
        width: 100vw;
        height: 40vh;
        background-image: url(./images/AIpeople.jpg);
        // background-image: url(./images/AIpeople3.webp);
        background-repeat: no-repeat;
        background-size: cover;
        transform: scale(1.2);
        margin: 10% 0%;
    }

    .AI-people2 {
        background-image: url(./images/AIpeople2.png);
    }

    .adapting-simulation {
        // background: -webkit-linear-gradient(to right, #615ecc 5%, #4ba3d1 3%, #34edd7 3%);
        // background: -moz-linear-gradient(to right, #615ecc 5%, #4ba3d1 3%, #34edd7 3%);
        // background: linear-gradient(to right, #615ecc 5%, #4ba3d1 3%, #34edd7 33%);
        background: -webkit-linear-gradient(to right, #615ecc 5%, #34edd7 70%);
        background: -moz-linear-gradient(to right, #615ecc 5%, #34edd7 70%);
        background: linear-gradient(to right, #615ecc 5%, #34edd7 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
