.page-research {
    // padding: var(--page-padding);
    // border: 1px springgreen solid;
    padding-top: var(--page-padding-top);
    // padding-bottom: var(--page-padding-bottom);

    .menu-plug {
        width: 56vh;
        height: 53vh;
        position: fixed;
        z-index: 4;
        top: 0vh;
        left: -1.9vh;
        background-image: url(~icons/menu.svg);
        background-position: left;
        background-size: 110%;
        background-repeat: no-repeat;
        display: flex;
    }

    p {
        line-height: 1.75em;
    }

    h2 {
        line-height: 1.35em;
    }

    .info-block-wrapper {
        margin: 0 var(--equal-page-padding);
    }

    & > p,
    & > h2,
    .research-titles-wrapper {
        padding: 0 var(--equal-page-padding);
    }

    .AI-people,
    .AI-people2 {
        width: 100vw;
        height: 40vh;
        background-image: url(./images/AIpeople.jpg);
        // background-image: url(./images/AIpeople3.webp);
        background-repeat: no-repeat;
        background-size: cover;
        transform: scale(1.2);
        margin: 10% 0%;
    }

    .AI-people2 {
        background-image: url(./images/AIpeople2.png);
    }

    .adapting-simulation {
        // background: -webkit-linear-gradient(to right, #615ecc 5%, #4ba3d1 3%, #34edd7 3%);
        // background: -moz-linear-gradient(to right, #615ecc 5%, #4ba3d1 3%, #34edd7 3%);
        // background: linear-gradient(to right, #615ecc 5%, #4ba3d1 3%, #34edd7 33%);
        background: -webkit-linear-gradient(to right, #615ecc 5%, #34edd7 70%);
        background: -moz-linear-gradient(to right, #615ecc 5%, #34edd7 70%);
        background: linear-gradient(to right, #615ecc 5%, #34edd7 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-aspect-ratio: 8/7) {
    .page-research {
        padding: 23vh 0vh; /* ЭТО НЕ ТРОГАЕМ, иначе лишний пэддинг у100% элементов */

        .planet-wrapper {
            .planet,
            .inner-halo {
                top: -34.5vw;
            }
        }
        .research-titles-wrapper {
            padding: 2vh 7vh;
            // border: 1px solid rgb(140, 255, 240);
        }
    }
}

@media (max-aspect-ratio: 8/13) {
    .page-research {
        .planet-wrapper {
            .planet,
            .inner-halo {
                height: 34vw;
                width: 34vw;
            }
        }
        .research-titles-wrapper {
            padding: 0vh 6.5vh;
            // border: 1px solid rgb(255, 140, 140);
        }
    }
}
