.notes-background-container {
    width: 55vw;
    height: 60vh;
    position: absolute;
    bottom: 0;
    right: 0%;
    z-index: 1;
    // border: 1px solid aquamarine;
    overflow: hidden;
    // background: linear-gradient(orange, rgb(20, 120, 128), rgb(255, 180, 42));
    // background-image: url(../images/notes.svg);
    // background-size: 131% 173%;
    // background-repeat: no-repeat;
    // background-size: cover;

    // mask-image: url(../images/circle_notes.svg);
    // mask-repeat: no-repeat;

    z-index: 1;

    // animation: rotate 25s linear infinite;
    // animation-fill-mode: forwards;

    .notes-background {
        position: absolute;

        width: 50vw;
        height: 50vw;
        right: -10%;
        bottom: -70%;
        background-color: violet;
        mask-image: url(../images/circle_notes.svg);
        // mask-image: url(../images/notes.svg);
        mask-repeat: no-repeat;
        mask-size: 80%;
        // border-radius: 100vw;
        mask-position: center center;
        z-index: 1;
        // background-position: center;
        // transform-origin: center center;
        animation: rotate 35s linear infinite;
        animation-fill-mode: forwards;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        background-color: rgb(255, 227, 255);
        // mask-size: 70%;
    }

    25% {
        background-color: rgb(187, 197, 255);
        // mask-size: 70%;
    }

    50% {
        background-color: rgb(130, 238, 215);
        // mask-size: 100%;
    }

    75% {
        background-color: rgb(238, 209, 130);
        // mask-size: 85%;
    }

    100% {
        transform: rotate(360deg);
        // opacity: 0;
        background-color: rgb(255, 227, 255);
        // mask-size: 70%;
    }
}
