.full-size-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    margin: auto 0;
    padding: 0 !important;
    overflow-y: hidden;

    &.not-visible {
        display: none;
    }

    button {
        height: 4vw;
        width: 4vw;
        background-color: rgb(0, 255, 255);
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        border: none;
        outline: none;
        z-index: 101;
    }

    .carousel {
        height: 100vh;
        width: 100vw;

        .carousel-scroller {
            .carousel-item {
                height: 100vh;
                width: 100vw;

                & > * {
                    flex: 1;
                    margin-right: 0.1vw;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
        }
    }
}
