.player-background {
    position: fixed;
    height: 45vh;
    width: 45vh;
    display: block;
    background-image: url(./images/player_background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 5;
}

.play-button-container {
    position: relative;
    z-index: 6;

    &.is-playing {
        .record-two {
            animation: record-moving backwards 2s linear infinite;
        }
    }

    .record-one,
    .record-two {
        height: 8vh;
        width: 8vh;
        background-image: url(./images/record.svg);
        background-size: 99%;
        background-repeat: no-repeat;
        display: block;
        position: fixed;
        bottom: 3.3vh;
        right: 6vh;
        z-index: 4;
        cursor: pointer;
    }

    .record-two {
        background-image: url(./images/pure_record.svg) !important;
    }
}

// @keyframes record-moving {
//     0% {
//         transform: translate(0px, 0px);
//         // opacity: 0;
//     }
//     25% {
//         transform: translate(1px, 1px);
//     }
//     50% {
//         transform: translate(0px, 2px);
//         // opacity: 1;
//     }
//     75% {
//         transform: translate(-1px, 1px);
//     }
//     100% {
//         transform: translate(0px, 0px);
//         // opacity: 0;
//     }
// }

// @keyframes record-moving {
//     0% {
//         transform: translate(0px, 0px);
//         // opacity: 0;
//     }
//     25% {
//         transform: translate(2px, 1px);
//     }
//     50% {
//         transform: translate(0px, 2px);
//         // opacity: 1;
//     }
//     75% {
//         transform: translate(-2px, -1px);
//     }
//     100% {
//         transform: translate(0px, 0px);
//         // opacity: 0;
//     }
// }

@keyframes record-moving {
    0% {
        transform: translate(0px, 0px);
        // opacity: 0;
    }
    25% {
        transform: translate(1px, 1px);
    }
    50% {
        transform: translate(0px, 1px);
        // opacity: 1;
    }
    75% {
        transform: translate(-1px, 1px);
    }
    100% {
        transform: translate(0px, 0px);
        // opacity: 0;
    }
}
