/* @font-face {
    font-family: 'Forward-extra';
    src: url('./fonts/Forward-extra.otf');
} */

/* @font-face {
    font-family: 'Forward';
    src: url('./fonts/Forward.otf');
} */

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    --mega-padding: 7vw;
    font-family: sans-serif;

    --page-padding: 25vw 10vw 10vw 10vw;
    --mini-page-padding: 35vw 5vw 5vw 5vw;

    --global-shadow: 0vw 0vw 3.906vw rgba(0, 0, 0, 0.219);
    position: relative;
    letter-spacing: 0.04em;
    overflow-x: hidden !important;
    font-family: 'Comfortaa', cursive;

    --planet-shadow: 0vw 0vw 1.906vw rgba(0, 0, 0, 0.219);
}

.page {
    // border: 2px solid red;
    min-height: 100vh;
    position: relative;
    // background-image: url(/icons/circular_shadow.svg);
    background-repeat: no-repeat;
    // background-position: 21vh -23vh;
    // background-position: 15vw -14vw;
    background-position: 10vw -20vw;
    background-size: 72%;
    // z-index: 2;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     background-image: url(/icons/circular_shadow.svg);
    //     background-repeat: no-repeat;
    //     // background-position: 21vh -23vh;
    //     // background-position: 15vw -14vw;
    //     // background-position: 10vw 20vw;
    //     background-size: 100%;
    //     width: 100vh;
    //     height: 100vh;
    //     left: 14%;
    //     top: -20%;
    //     // z-index: 0;
    //     // z-index: 6;

    //     user-select: none;
    //     // border: 1px solid salmon;
    // }
}

h1 {
    font-size: 5.3vw;
    font-weight: 500;
    margin-bottom: 1em;
    // color: transparentize($color: #3b2275, $amount: 0);
    position: relative;
    background: -webkit-linear-gradient(to bottom, #000000 0%, #386ca8 90%);
    background: -moz-linear-gradient(to bottom, #000000 0%, #386ca8 90%);
    background: linear-gradient(to bottom, #000000 0%, #386ca8 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    // font-size: 4.5vh;
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 1.2em;
    color: teal;
    line-height: 1.25em;

    background: -webkit-linear-gradient(to bottom, #286b63 0%, #20e7cf 96%);
    background: -moz-linear-gradient(to bottom, #286b63 0%, #20e7cf 96%);
    background: linear-gradient(to bottom, #286b63 0%, #20e7cf 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 1.6vw;
    font-weight: 100;
    line-height: 1.4em;
    margin-bottom: 1.8em;
}

strong {
    font-weight: bold;
}
