.page-visual-art-wrapper {
    padding: var(--page-padding);
    --grid-padding: 1.5vh;

    .planet-wrapper {
        .ink-planet {
            background-size: 70%;
            transform: rotate(318deg);
            animation: color-metamorphosis 30s linear infinite;
            animation-fill-mode: forwards;
        }
    }

    h2 {
        // margin: 5vh 0vh 10vh 0vh;
    }

    .mountains {
        width: 100%;
        transform: scale(1.3);
        height: 55vh;
        background-image: url(./images/mountains.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .sculpture-h2 {
        margin-top: 15vh;
    }
}

@media (max-width: 800px) {
    .page-visual-art-wrapper {
        // padding: var(--mini-page-padding);
        --grid-padding: 1.5vh;
    }
}

@keyframes color-metamorphosis {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}
